$main-color: #D31C5B;
$brand-primary: #D31C5B;

// $btn-default-color: #FFF;
// $btn-default-bg: $main-color;
// $btn-default-border: darken($main-color, 30%);

$main-text-color: $main-color !default;
