$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "_variables.scss";
@import "bootstrap-sass/assets/stylesheets/_bootstrap";
@import "_fonts.scss";
@import "_modules.scss";

html, body, main {
  width: 100%;
  height: 100%;
}

h1 {
  display: none;
}

main {
  section {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    h2 {
      font-weight: bold;
      // font-family: 'Marck Script', cursive;
      // font-family: 'Yesteryear', cursive;
      // font-family: 'Kaushan Script', cursive;
      font-family: "Back to Black";
      margin-bottom: 20px;
    }
    .btn {
      line-height: 2.5em;
      font-size: 1.3em;
      &.btn-spaced {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .sitio-logo {
      max-width: 50%;
      max-height: 50%;
      margin: auto;
    }
  }

  .stores {
    .row {
      padding-top: 30px;
    }
    
    .lists {
      a {
        margin: 20px;
        display: inline-block;
        img {
          max-width: 150px;
          max-height: 150px;
        }
      }
    }
  }

  .padrinhos {
    p {
      font-family: "Back to Black";
      padding: 5px 0;
    }
    img {
      max-width: 200px;
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
      &.double {
        max-width: 400px;
      }
    }
  }
}

mark {
  color: $main-text-color;
  background: transparent;
  font-weight: bold;
}

.margin-top {
  margin-top: 30px;
}

// .mark-script {
//   font-family: 'Marck Script', cursive;
// }

// .yesteryear {
//   font-family: 'Yesteryear', cursive;
// }

// .kaushan-script {
//   font-family: 'Kaushan Script', cursive;
// }


.fb-comments {
  max-width: 100%;
}

@import "_responsive";
