.banner {
    height: 100%;
    width: 100%;
    background: url("/images/photos/cover.jpg");
    background-size: cover;
    background-position: center middle;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .10);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .logo {
        max-width: 30%;
        max-height: 30%;
        margin: auto;
        z-index: 2;
        position: absolute;
        right: 2%;
        top: 3%;
    }
}
